# fly.toml app configuration file generated for congress-tracker-api on 2026-01-11T20:09:07-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'congress-tracker-api'
primary_region = 'yyz'
source = "data"
destination = "/data"


[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

    [http_service.checks]
    grace_period = "15s"
    interval = "15s"
    timeout = "2s"
    method = "GET"
    path = "/health"



[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
