# fly.toml app configuration file generated for congress-tracker on 2026-01-09T22:02:21-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'congress-tracker'
primary_region = 'yyz'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[processes]
  app = "uvicorn app.main:app --host 0.0.0.0 --port 8080"