name: Daily Ingest (House)

on:
  schedule:
    - cron: "0 13 * * *" # daily 13:00 UTC
  workflow_dispatch:

jobs:
  ingest:
    runs-on: ubuntu-latest
    steps:
      - name: Install flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Run ingestion inside Fly machine
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: |
          fly machine list -a congress-tracker
          fly machine exec $(fly machine list -a congress-tracker --json | jq -r '.[0].id') \
            -a congress-tracker \
            -- python -m app.ingest_run
